<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/privileges" class="btn btn-info">List Privileges</a></li>
            <li class="list-inline-item"><a routerLink="/tweets" class="btn btn-info">List Tweets</a></li>
            <li class="list-inline-item"><a routerLink="/startTweetFetching" class="btn btn-info">Fetch tweets?</a></li>
            <li class="list-inline-item"><a routerLink="/sentimentGauge" class="btn btn-info">Sentiment Gauge</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


