<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Congratulations!</title>
    </head>
    <body>
        <center>
            <h3>Congratulations! Your account has been activated and email is verified!</h3>
                    <form id = "login" th:action = "@{/login}"  method="get">

    <div class="col-xs-12 col-sm-6 col-md-6">
    <button type="submit" class="btn btn-success">Login</button>
    </div>

</form>
        </center>

    </body>
    
</html>  