<html>
<head><title>Home Page</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
                    <form id = "login" th:action = "@{/login}"  method="get">

    <div class="col-xs-12 col-sm-6 col-md-6">
    <button type="submit" class="btn btn-success">Login</button>
    </div>

</form>
<form id = "signup" th:action = "@{/user/registration}"  method="get">

    <div class="col-xs-12 col-sm-6 col-md-6">
    <button type="submit" class="btn btn-success">Sign Up</button>
    </div>

</form>
</body>
</html>