<html>
<head></head>
<body>
   <h1>Login</h1>
   <form name='f' th:action="@{/login}" method='POST'>
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="Login" /></td>
         </tr>
      </table>
  </form>
  <form id = "signup" th:action = "@{/user/registration}"  method="get">

    <div class="col-xs-12 col-sm-6 col-md-6">
    <button type="submit" class="btn btn-success">Sign Up</button>
    </div>

</form>
</body>
</html>